.email-form__field {
    margin-bottom: 15px;
}

.email-form__label {
    display: block;
}

.email-form__input {
    font-size: 1.5em;
    width: 100%;
}

.email-form__input-message {
    height: 3em;
}

.email-form__button-bar {
    display: flex;
    justify-content: space-around;
}
