.app {
  padding: 20px;
  box-sizing: border-box;
}
.app__form-field {
  margin-bottom: 2rem;
}
.app__query-input {
  font-size: 2rem;
  padding: 2rem;
}
.app__rating-label {
  margin: 0 1rem 0 0.25rem;
}
.num-results-label {
  margin-right: 0.5rem;
}
.app__results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.app__results__item {
  margin: 0 1rem 1rem 0;
  width: 300px;
}
